<!-- 
<div class="text-layout">

  <h1> {{ nombre | titlecase }} </h1>
  <h1> {{ valor | number }} </h1>
  <h1> {{ obj | json }} </h1>

  <p-card [header]="nombre | titlecase"
          subheader="Esto es un subheader"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione laboriosam quasi ipsam impedit repellat totam id, nulla ut porro eius sint obcaecati adipisci voluptatem earum laborum, eum est, facilis odio.
  </p-card>


  <button 
  pButton 
  type="button"
  (click)="mostrarNombre()" 
  label="Cambiar Nombre"
  class="p-button-help"
  icon="pi pi-chevron-circle-right"
  iconPos="right"
  >
  </button>
  
</div> -->
<app-menu></app-menu>
<router-outlet></router-outlet>
